Repository Kleostro/RSSence-backend, pull requests merged in 2025-01, with the labels that each got.

#2 feat(RS-01-01): user registration
  package.json
  prisma/schema.prisma
  src/app/app.gateway.ts
  src/app/app.module.ts
  src/modules/auth/auth.controller.spec.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/dto/register-dto.ts
  src/modules/users/users.controller.spec.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.module.ts
  src/modules/users/users.service.spec.ts
  src/modules/users/users.service.ts
  src/prisma.service.ts
Labels: feature, sprint1, test

#3 feat(RS-01-02): implement user login
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/dto/login-dto.ts
Labels: feature, sprint1

#4 refactor(RS-01-03): auth operations
  prisma/migrations/20250119080513_create_user_table/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/dto/login-dto.ts
  src/modules/auth/dto/register-dto.ts
  src/modules/users/dto/create-user.dto.ts
  src/modules/users/users.service.ts
Labels: sprint1, refactor

#5 feat(RS-01-04): advanced user authentication
  package.json
  prisma/migrations/20250120093109_update_users_table/migration.sql
  prisma/migrations/20250120133728_make_user_hashed_password_field_optional/migration.sql
  prisma/migrations/[timestamp]_update-users-table.sql
  prisma/schema.prisma
  src/main.ts
  src/modules/auth/auth.controller.spec.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/dto/register.dto.ts
  src/modules/auth/guards/google.guard.ts
  src/modules/auth/guards/jwt-access.guard.ts
  src/modules/auth/services/password/password.service.spec.ts
  src/modules/auth/services/password/password.service.ts
  src/modules/auth/strategies/google.strategy.ts
  src/modules/auth/strategies/jwt-access.strategy.ts
  src/modules/auth/strategies/jwt-refresh.strategy.ts
  src/modules/auth/strategies/local.strategy.ts
  src/modules/users/dto/create-user.dto.ts
  src/modules/users/dto/get-user.dto.ts
  src/modules/users/users.service.ts
  src/shared/decorators/current-user.decorator.ts
  src/shared/types/jwt-payload.ts
  src/shared/utils/normalizeEmail.ts
Labels: feature, sprint1, test

#6 refactor(RS-01-05): separate shemas into shema folder
  prisma/migrations/20250119080513_create_user_table/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema/schema.prisma
  prisma/schema/user.prisma
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
Labels: sprint1, refactor

#7 ci(RS-01-08): add request review pipeline
  .github/pull_request_template.md
  .github/workflows/request_review.yml
  .validate-branch-namerc.cjs
Labels: documentation, sprint1, ci

#8 feat(RS-01-09): implement a user profile
  prisma/migrations/20250120093109_update_users_table/migration.sql
  prisma/migrations/20250120133728_make_user_hashed_password_field_optional/migration.sql
  prisma/migrations/[timestamp]_update-users-table.sql
  prisma/schema/user.prisma
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.service.ts
  src/modules/users/modules/profiles/dto/check-username.ts
  src/modules/users/modules/profiles/dto/create-profile.dto.ts
  src/modules/users/modules/profiles/dto/update-profile.dto.ts
  src/modules/users/modules/profiles/profiles.controller.spec.ts
  src/modules/users/modules/profiles/profiles.controller.ts
  src/modules/users/modules/profiles/profiles.module.ts
  src/modules/users/modules/profiles/profiles.service.spec.ts
  src/modules/users/modules/profiles/profiles.service.ts
  src/modules/users/users.module.ts
Labels: feature, sprint1, test

#9 feat(RS-01-10): implement a user crud operations
  prisma/schema/user.prisma
  src/modules/users/dto/check-email.dto.ts
  src/modules/users/dto/update-user.dto.ts
  src/modules/users/modules/profiles/profiles.controller.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.service.ts
Labels: feature, sprint1

#10 feat(RS-01-11): implement send mail
  package.json
  prisma/schema/user.prisma
  src/app/app.module.ts
  src/modules/auth/auth.controller.spec.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/services/email/email.service.ts
  src/modules/auth/services/email/utils/change-password.ts
  src/modules/auth/services/email/utils/welcome.ts
  src/modules/auth/services/password/password.service.ts
  src/modules/users/dto/create-user.dto.ts
  src/shared/constants/subjects.ts
Labels: feature, sprint1, test

#11 feat(RS-01-12): implement exceptions filter
  src/core/filters/exception.filter.ts
  src/main.ts
  src/modules/auth/auth.service.ts
  src/modules/users/users.service.ts
Labels: feature, sprint1

#13 feat(RS-01-14): cover profile controller with swagger
  src/modules/auth/auth-controller-swagger.decorators.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/dto/auth.dto.ts
  src/modules/auth/dto/reset-password.dto.ts
  src/modules/auth/dto/tokens.dto.ts
  src/modules/users/dto/check-email.dto.ts
  src/modules/users/dto/create-user.dto.ts
  src/modules/users/dto/user.dto.ts
  src/modules/users/modules/profiles/dto/check-username.ts
  src/modules/users/modules/profiles/dto/create-profile.dto.ts
  src/modules/users/modules/profiles/profiles-controller-swagger.decorators.ts
  src/modules/users/modules/profiles/profiles.controller.ts
  src/modules/users/users-controller-swagger.decorators.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.service.ts
Labels: feature, sprint1

#14 refactor(RS-01-15): move token logic to a separate service
  src/modules/auth/auth-controller-swagger.decorators.ts
  src/modules/auth/auth.controller.spec.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/services/token/token.service.spec.ts
  src/modules/auth/services/token/token.service.ts
  src/modules/auth/strategies/jwt-access.strategy.ts
  src/modules/auth/strategies/jwt-refresh.strategy.ts
  src/modules/users/modules/profiles/profiles.service.ts
  src/modules/users/users.service.ts
  src/shared/constants/error-message.ts
Labels: sprint1, refactor, test
