Repository Kleostro/RSSence-backend, pull requests merged in 2025-05, with the labels that each got.

#37 feat(RS-01-21): posts module
  prisma/schema/user.prisma
  src/main.ts
  src/modules/auth/strategies/jwt-access.strategy.ts
  src/modules/authors/authors.controller.ts
  src/modules/authors/authors.service.ts
  src/modules/authors/dto/create-author.dto.ts
  src/modules/authors/services/authors-util.service.ts
  src/modules/posts/dto/create-post.dto.ts
  src/modules/posts/dto/update-post.dto.ts
  src/modules/posts/posts.controller.spec.ts
  src/modules/posts/posts.controller.ts
  src/modules/posts/posts.module.ts
  src/modules/posts/posts.service.spec.ts
  src/modules/posts/posts.service.ts
  src/modules/profiles/profiles.controller.ts
  src/modules/profiles/profiles.service.ts
  src/modules/users/types/types.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.service.ts
  src/shared/constants/error-message.ts
Labels: feature, sprint1, test

#38 chore(RS-01-18): remove tests
  .eslintrc.json
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/test.yml
  husky_scripts/validate-push.sh
  jest.config.ts
  nest-cli.json
  package.json
  src/app/app.gateway.spec.ts
  src/modules/auth/auth.controller.spec.ts
  src/modules/auth/auth.service.spec.ts
  src/modules/auth/services/password/password.service.spec.ts
  src/modules/auth/services/token/token.service.spec.ts
  src/modules/authors/authors.controller.spec.ts
  src/modules/authors/authors.service.spec.ts
  src/modules/posts/posts.controller.spec.ts
  src/modules/posts/posts.service.spec.ts
  src/modules/profiles/profiles.controller.spec.ts
  src/modules/profiles/profiles.service.spec.ts
  src/modules/roles/roles.controller.spec.ts
  src/modules/roles/roles.service.spec.ts
  src/modules/users/users.controller.spec.ts
  src/modules/users/users.service.spec.ts
  src/shared/services/file/file.service.spec.ts
  test/jest-e2e.json
  tsconfig.build.json
Labels: documentation, sprint1, chore, ci, test

#39 feat(RS-01-22): images module
  .eslintrc.json
  .gitignore
  package.json
  prisma/models/authors.prisma
  prisma/models/images.prisma
  prisma/models/postCoauthors.prisma
  prisma/models/posts.prisma
  prisma/models/profiles.prisma
  prisma/models/roles.prisma
  prisma/models/userRoles.prisma
  prisma/models/users.prisma
  prisma/schema.prisma
  prisma/schema/schema.prisma
  prisma/schema/user.prisma
  src/app/app.module.ts
  src/common/dto/query-params.dto.ts
  src/common/interfaces/pagination.interface.ts
  src/common/services/pagination.service.ts
  src/main.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/strategies/jwt-access.strategy.ts
  src/modules/auth/strategies/jwt-refresh.strategy.ts
  src/modules/authors/authors.controller.ts
  src/modules/authors/authors.service.ts
  src/modules/authors/services/authors-util.service.ts
  src/modules/posts/dto/create-post.dto.ts
  src/modules/posts/posts.controller.ts
  src/modules/posts/posts.service.ts
  src/modules/profiles/profiles.controller.ts
  src/modules/profiles/profiles.service.ts
  src/modules/profiles/services/profiles-util.service.ts
  src/modules/roles/roles.controller.ts
  src/modules/roles/roles.service.ts
  src/modules/users/dto/user.dto.ts
  src/modules/users/types/types.ts
  src/modules/users/users.controller.ts
  src/modules/users/users.service.ts
  src/prisma.service.ts
  src/shared/constants/error-message.ts
  src/shared/decorators/current-user.decorator.ts
  src/shared/modules/images/images.controller.ts
  src/shared/modules/images/images.module.ts
  src/shared/modules/images/images.service.ts
  tsconfig.build.json
  tsconfig.json
  uploads/20.24-10-1621.46.37.jpg
Labels: feature, sprint1
